<div class="map">
  <p>Map Component is rendered</p>
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src={{this.src}}
    width={{@width}}
    height={{@height}}
  />
</div>